.profile-tab-1 {
    background-color: #a0d6b4;
    height: 25px;
    width: 25px;
    border: 2px solid #ff517c;
}

.profile-tab-2 {
    height: 25px;
    width: 25px;
    border: 2px solid #6C757D;
}
