@using PlanItNoww.ViewModels

@{
    Layout = "/Views/Shared/_AppLayoutMobile.cshtml";
    ViewData["Title"] = "Home Page";
}

<div>Hello Mobile</div>
@await Component.InvokeAsync("AppFooterMobile")


    