@using PlanItNoww.ViewModels
@model AppFooterMobileViewModel;
<div ng-controller="AppFooterMobileController" style="position:fixed;bottom:0px;width:100%">

  
</div>
<script>
    
</script>
<script src="~/js/appfootermobilecontroller.js"></script>
