@using PlanItNoww.ViewModels
@model AppHeaderMobileViewModel;


<div ng-controller="HomeHeaderMobileController" class="sticky-bar-top w-100">
</div>


<script>
    
</script>
<script src="~/js/homeheadermobilecontroller.js"></script>
